.App {
  text-align: center;
}
.extraheight{
  height: 100vh;
}
.second__section{
  display: flex;
  justify-content: center;
  align-items: center;

}
.cont{
  width: 50%;
  text-align: center;
  padding: 20px;
  margin: 50px 0;
  z-index: 2;

}


.video__section{
  text-align: right;
}
.video__cont{
  height: 90%;
  width: 80%;
}

.rignt__heading{
  font-size: 68px;
  font-weight: 900;
  padding: 10px;
  color: rgb(0, 0, 51);
}
.right__paragraph{
  font-size: 22px;
  color: rgb(110, 110, 110);
}
.button-container{
  border: none;
  color: white;
  line-height: 100%;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 20px;
  background-color: rgba(77, 77, 238, 0.815);
  margin: 30px;
  border-bottom: 4px solid rgb(0, 0, 134);


}
.slider__button{
  background-color: white;
  color: black;
}
.third__section{
  position: relative;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  height: auto;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
}
.blue__color{
  position: absolute;
  background-color: rgba(77, 77, 238, 0.815);
  height: 100%;
  width: 100%;
}
.left-container{
  padding: 50px;
}
.certificate__image{
  width: 80%;
}

.certificate__heading{
  color: white;
  font-size: 450%;
}
.certificate__paragraph{
  font-size: 130%;
  padding: 10px;
  color: rgb(228, 228, 228);
  line-height: 40px;
}
.certificate__button{
  border: none;
  background: rgb(224, 147, 2);
  padding: 25px 40px;
  font-size: 18px;
  color: white;
  font-weight: 800;
  letter-spacing: 2px;
  border-bottom: 3px solid black;
}

/* footer */
.footer__container{
  position: relative;
  width: 100vw;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #221831;
}

.footer__item{
  width: 40%;
  padding: 20px;
  color: white;

}
.footer__h1{
  line-height: 30px;
}

.navigation__container{
  position: sticky;
  top: 0;
  width: 95%;
  z-index: 1000;
  background-color: #2d0170;
  color: white;
  padding: 20px;
  margin: 30px;
}
.navbar__heading span{
  color: rgb(140, 140, 255);

}
.navbar__caption{
  color: rgb(140, 140, 255);
  font-size: 12px;

}

.navbar__caption span{
  color: white;

}


.dashboard__firstSection{
  text-align: center;
  margin-bottom: 100px;
}
.thanking__heading{
  font-size: 50px;
  line-height: 55px;
}
.thanking__para{
  font-size: 19px;
  color: rgb(133, 133, 133);
}
.tearms__and__conditions{
  text-align: center;
  padding: 30px;


}

.tearms__heading{
  font-size: 50px;
  font-weight: 900;
  padding-top: 30px;
}

.tearms__para{
  text-align: left;
  padding: 50px;
}

